<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- Use LocalDB for development. In production, this would be the actual SQL Server instance -->
    <add name="StudentPortalConnection" 
         connectionString="Server=db69051.databaseasp.net;Database=db69051;User Id=db69051;Password=p!4J3E-n?9gS;Encrypt=False;TrustServerCertificate=True;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <machineKey validationKey="3AE038590BDC638A009DE776BECC7434DDBA20352A3FBA21BB91C809226AF8F8" 
                decryptionKey="08E7EE29013A4CD223E16027A1C2386E006CF177AD9B7C75" 
                validation="SHA1" decryption="AES" />
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <customErrors mode="Off" />
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="CarRental.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
